@page
@model ContosoUniversity.Pages.Teams.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Team.TeamID" />
            <div class="form-group">
                <label asp-for="Team.Title" class="control-label"></label>
                <input asp-for="Team.Title" class="form-control" />
                <span asp-validation-for="Team.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.Synergy" class="control-label"></label>
                <input asp-for="Team.Synergy" class="form-control" />
                <span asp-validation-for="Team.Synergy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;

                                foreach (var employee in Model.AssignedEmployeeDataList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedEmployees"
                                               value="@employee.EmployeeID"
                                               @(Html.Raw(employee.Assigned ? "checked=\"checked\"" : "")) />
                                        @employee.EmployeeID @:  @employee.FullName  <!-- Employee.Fullname skal måske tilføjes her-->

                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <div class="table">
                        <table>
                            <tr>
                                @{
                                    int cnt2 = 0;

                                    foreach (var questionnaire in Model.AssignedQuestionnaireDataList)
                                    {
                                        if (cnt2++ % 3 == 0)
                                        {
                                        @:</tr><tr>
                                        }
                                        @:<td>
                                            <input type="checkbox"
                                                   name="selectedQuestionnaires"
                                                   value="@questionnaire.QuestionnaireID"
                                                   @(Html.Raw(questionnaire.Assigned ? "checked=\"checked\"" : "")) />
                                            @questionnaire.QuestionnaireID @:  @questionnaire.Title
                                        @:</td>
                                    }
                                @:</tr>
                                }
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
