@page
@model ContosoUniversity.Pages.Teams.IndexModel

@{
    ViewData["Title"] = "Index";
    if (String.IsNullOrEmpty(Model.Login) || String.IsNullOrEmpty(Model.Manager))
        Response.Redirect("/Login/Login");
}
<body class="fade-in">
    <div class="container removePad" style="padding-bottom: 1%">
        <div class="row headerAlignBig">
            <div class="col-1.5">
                <h2 class="padTwoTop">Teams </h2>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">

                        <button type="button" class="btn btn-success dropShadow" style="margin-bottom: 5px; height:100%">
                            <a href="Teams/Create" class="navItem" style="color:white;">Create team</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-cols-3">
            @foreach (var item in Model.Team)
            {
                <div class="div-sizing drop">
                    <div class="headblock border padTwo lightBG dropShadow">
                        <div class="headBlock">
                            <h3 class="padOne"><b>@Html.DisplayFor(modelItem => item.Title)</b></h3>
                            <div class="row row-cols-2" style="padding: 0 2%;">
                                <div class="col" align="center">
                                    <p>Amount of People:</p>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </div>
                                <div class="col" align="center">
                                    <p>Synergy Score:</p>
                                    @Html.DisplayFor(modelItem => item.Synergy)
                                </div>
                            </div>

                            <br>

                            <div class=" row row-cols-2 text-center" style="padding: 0 2%;">
                                <div class="col">
                                    <button type="button" class="btn btn-success margOne" style="margin-right:5%; width:90%; ">
                                        <a asp-page="./Edit" asp-route-id="@item.TeamID" style="color: white;">Manage</a>
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="button" style="width:90%" class="btn btn-success">
                                        <a asp-page="./Delete" asp-route-id="@item.TeamID" style="color: white;">Delete</a>
                                    </button>
                                </div>
                                <!--<a asp-page="./Details" asp-route-id="@item.TeamID">Details</a>-->
                            </div>

                        </div>
                    </div>
                </div>
            }
            <br>
        </div>
        <br><br>
    </div>


    <footer id="sticky-footer" class="py-4 bg-dark text-white-50 fixed-bottom">
        <div class="container text-center">
            <small>Copyright &copy; Teamber 2020</small>
        </div>
    </footer>
</body>

<!--
<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Synergy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Team) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Synergy)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TeamID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TeamID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TeamID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
-->
