@page
@model ContosoUniversity.Pages.Employees.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<div>
    <h4>Your information</h4>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FirstMidName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.FirstMidName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmpTeamDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmpTeamDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.JobTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.JobTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.PersonalityType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.PersonalityType)
        </dd>
    </dl>

    <table class="table">
        <tr>
            <th>Your team/teams</th>
        </tr>
        @foreach (var item in Model.Employee.EmpTeams)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Team.Title)
            </td>
        </tr>
        }
    </table>
</div>
@if (Model.Id.Count != 0)
{
<div>
    <a asp-page="/employees/TakeQuestionnaire">Take Questionaire</a>
</div>
}
else
{
<div>
    <a>All questionaire taken</a>
</div>

}