@page
@model ContosoUniversity.Pages.Employees.EditModel

@{
    ViewData["Title"] = "Edit";
    if (String.IsNullOrEmpty(Model.Login) || String.IsNullOrEmpty(Model.Manager))
        Response.Redirect("/Login/Login");
}

<body class="fade-in">
    <br>
    <div class="container removePad" style="padding-bottom: 1%">
        <div class="row row-cols-3">
            <div class="col-3">
                &#8205;
            </div>
            <div class="col-6">
                <h2 class="padTwoTop">Edit Employee</h2>
                <hr />
                <div class="row">
                    <div class="col">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Employee.ID" />
                            <div class="form-group">
                                <label asp-for="Employee.LastName" class="control-label"></label>
                                <input asp-for="Employee.LastName" class="form-control" />
                                <span asp-validation-for="Employee.LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Employee.FirstMidName" class="control-label"></label>
                                <input asp-for="Employee.FirstMidName" class="form-control" />
                                <span asp-validation-for="Employee.FirstMidName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Employee.EmpTeamDate" class="control-label"></label>
                                <input asp-for="Employee.EmpTeamDate" class="form-control" />
                                <span asp-validation-for="Employee.EmpTeamDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Employee.JobTitle" class="control-label"></label>
                                <input asp-for="Employee.JobTitle" class="form-control" />
                                <span asp-validation-for="Employee.JobTitle" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <p>Personality type</p>
                                <select name="Employee.PersonalityType">
                                    <option value="@Model.Employee.PersonalityType">@Model.Employee.PersonalityType</option>
                                    @{ string[] personalityTypes = { "ISTJ", "INFJ", "INTJ", "ENFJ", "ISTP", "ESFJ", "INFP", "ESFP", "ENFP", "ESTP", "ESTJ", "ENTJ", "INTP", "ISFJ", "ENTP", "ISFP" };
                                        foreach (var personality in personalityTypes)
                                        {
                                            <option value="@(Html.Raw(personality))" name="Employee.PersonalityType">@(Html.Raw(personality))</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Employee.IsManager" class="control-label"></label>
                                <input asp-for="Employee.IsManager" class="form-control" style="width: auto;" />
                                <span asp-validation-for="Employee.IsManager" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Employee.Username" class="control-label"></label>
                                <input asp-for="Employee.Username" class="form-control" />
                                <span asp-validation-for="Employee.Username" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Employee.Password" class="control-label"></label>
                                <input asp-for="Employee.Password" class="form-control" />
                                <span asp-validation-for="Employee.Password" class="text-danger"></span>
                            </div>
                            <label class="control-label">Teams</label>
                            <div class="form-group">
                                <div class="table">
                                    <table>
                                        <tr>
                                            @{
                                                int cnt = 0;

                                                foreach (var team in Model.AssignedTeamDataList)
                                                {
                                                    if (cnt++ % 3 == 0)
                                                    {
                                                    @:</tr><tr>
                                                    }
                                                    @:<td>
                                                        <input type="checkbox"
                                                               name="selectedTeams"
                                                               value="@team.TeamID"
                                                               @(Html.Raw(team.Assigned ? "checked=\"checked\"" : "")) />
                                                        @team.TeamID @:  @team.Title
                                                    @:</td>
                                                }
                                            @:</tr>
                                            }
                                        </table>
                                    </div>
                                </div>
                                <label class="control-label">Questionnaires</label>
                                <div class="form-group">
                                    <div class="table">
                                        <table>
                                            <tr>
                                                @{
                                                    int cnt2 = 0;

                                                    foreach (var questionnaire in Model.AssignedQuestionnaireDataList)
                                                    {
                                                        if (cnt2++ % 3 == 0)
                                                        {
                                                        @:</tr><tr>
                                                        }
                                                        @:<td>
                                                            <input type="checkbox"
                                                                   name="selectedQuestionnaires"
                                                                   value="@questionnaire.QuestionnaireID"
                                                                   @(Html.Raw(questionnaire.Assigned ? "checked=\"checked\"" : "")) />
                                                            @questionnaire.QuestionnaireID @:  @questionnaire.Title
                                                        @:</td>
                                                    }
                                                @:</tr>
                                                }
                                            </table>
                                        </div>
                                    </div>
                                    <div class="form-group" style="display: inline; margin-right: 20px;">
                                        <input type="submit" value="Save changes" class="btn btn-success" />
                                    </div>
                                    <button type="button" class="btn btn-success" style="background-color: red; border-color: red;">
                                        <a asp-page="./Delete" asp-route-id="@Model.Employee.ID" style="color: white;">Delete</a>
                                    </button>
                                </form>

                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        &#8205;
                    </div>
                </div>
            </div>
            <br><br><br><br>
            <footer id="sticky-footer" class="py-4 bg-dark text-white-50 fixed-bottom">
                <div class="container text-center">
                    <small>Copyright &copy; Teamber 2020</small>
                </div>
            </footer>
        </body>

                @section Scripts {
                    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }
