@page
@model ContosoUniversity.Pages.Employees.IndexModel

@{
    ViewData["Title"] = "Index";
    if (String.IsNullOrEmpty(Model.Login) || String.IsNullOrEmpty(Model.Manager))
        Response.Redirect("/Login/Login");
}

<body class="fade-in">
    <div class="container removePad" style="padding-bottom: 1%">
        <div class="row">
            <div class="col-1.5">
                <h2 class="padTwoTop" style="padding-left:18%">Employees </h2>
            </div>
            <div class="col" style="padding-left:4%">
                <div class="row">
                    <div class="col">
                        <button type="button" asp-page="Create" class="btn btn-success dropShadow" style="margin-bottom: 5px; height:100%">
                            <a class="navItem" href="Employees/Create" style="color:white;">Add Employee</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-cols-3">
            @foreach (var item in Model.Employee)
            {
                <!--
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstMidName)
                    </td>
                    <th>
                        @Html.DisplayFor(modelitem => item.EmpTeamDate)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PersonalityType)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
                -->
                <div class="div-sizing">
                    <div class="headblock border padTwo lightBG">
                        <div class="headBlock">
                            <h3 class="padOne"><b>@Html.DisplayFor(modelItem => item.FirstMidName) @Html.DisplayFor(modelItem => item.LastName)</b></h3>
                            <a class="padOne">@Html.DisplayFor(modelItem => item.JobTitle)</a><br><br>

                            <button type="button" class="btn btn-success margOne">
                                <a asp-page="./Edit" asp-route-id="@item.ID" style="color:white;">Manage</a>
                            </button>
                            <button type="button" class="btn btn-success">
                                <a asp-page="./Details" asp-route-id="@item.ID" style="color:white;">Details</a>
                            </button>
                        </div>
                    </div>
                </div>
            }

        </div>
        <br>

    </div>

    <br><br>


    <footer id="sticky-footer" class="py-4 bg-dark text-white-50 fixed-bottom">
        <div class="container text-center">
            <small>Copyright &copy; Teamber 2020</small>
        </div>
    </footer>
</body>


