@page
@model ContosoUniversity.IndexModel

@{
    ViewData["Title"] = "Index";
    if (String.IsNullOrEmpty(Model.Login) || String.IsNullOrEmpty(Model.Manager))
              Response.Redirect("/Login/Login");
}

<body class="fade-in">
    <div class="container removePad" style="padding-bottom: 1%">
        <div class="row">
            <div class="col-1.5">
                <h2 class="padTwoTop" >Questionnaire </h2>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-success dropShadow" style="margin-bottom: 5px; height:100%" data-toggle="modal" data-target="#exampleModal">
                            <a asp-page="Create" style="color:white;">Create New</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-cols-3">
            @foreach (var item in Model.Questionnaire)
            {
                <!--
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                      
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.QuestionnaireID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.QuestionnaireID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.QuestionnaireID">Delete</a>
                    </td>
                </tr>
                -->
                <div class="div-sizing">
                    <div class="headblock border padTwo lightBG">
                        <div class="headBlock">
                            <h3 class="padOne"><b>@Html.DisplayFor(modelItem => item.Title)</b></h3>
                            
                            <button type="button" class="btn btn-success margTwo">
                                <a asp-page="./Edit" asp-route-id="@item.QuestionnaireID" style="color:white;">Manage</a>
                            </button>
                            <button type="button" class="btn btn-success margTwo">
                                <a asp-page="./Details" asp-route-id="@item.QuestionnaireID" style="color:white;">Details</a>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <br>
        <br><br>
    </div>


    <footer id="sticky-footer" class="py-4 bg-dark text-white-50 fixed-bottom">
        <div class="container text-center">
            <small>Copyright &copy; Teamber 2020</small>
        </div>
    </footer>
</body>

<!--
<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Questionnaire[0].Title)
            </th>
            <th>
          
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Questionnaire) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
           
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.QuestionnaireID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.QuestionnaireID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.QuestionnaireID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
-->
