@page
@model ContosoUniversity.IndexModel

@{
    ViewData["Title"] = "Index";
    //if (String.IsNullOrEmpty(Model.Login) || String.IsNullOrEmpty(Model.Manager))
    //          Response.Redirect("/Login/Login");
}

<body class="fade-in">
    <br>
    <div class="container removePad" style="padding-bottom: 1%">
        <div class="row">
            <div class="col-1.5">
                <h2 class="padTwoTop" style="padding-left: 18%;">Questionnaire </h2>
            </div>
            <div class="col" style="padding-left:5%">
                <div class="row">
                    <div class="input-group col-md-4">
                        <input class="form-control py-2" type="search" value="Search" id="example-search-input" style="height:100%">
                        <span class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">
                                <i class="fa fa-search">
                                    <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd" />
                                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd" />
                                    </svg>
                                </i>
                            </button>
                        </span>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-success dropShadow" style="margin-bottom: 5px; height:100%" data-toggle="modal" data-target="#exampleModal">
                            <a asp-page="Create" style="color:white;">Create New</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-cols-3">
            @foreach (var item in Model.Questionnaire)
            {
                <!--
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cycle)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.QuestionnaireID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.QuestionnaireID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.QuestionnaireID">Delete</a>
                    </td>
                </tr>
                -->
                <div class="col" style="max-width:33%;">
                    <div class="headblock border padTwo lightBG">
                        <div class="headBlock">
                            <h3 class="padOne"><b>@Html.DisplayFor(modelItem => item.Title)</b></h3>
                            <a class="padTwo">Field</a><br>
                            <p class="padTwo">
                                <b>Last publish date: </b>HER<br>
                                <b>Next publish cycle: </b>@Html.DisplayFor(modelItem => item.Cycle)<br>
                                <b>Unanswered questionnaires: </b>HER
                            </p>
                            <button type="button" class="btn btn-success margTwo">
                                <a asp-page="./Edit" asp-route-id="@item.QuestionnaireID" style="color:white;">Manage</a>
                            </button>
                            <button type="button" class="btn btn-success margTwo">
                                <a asp-page="./Details" asp-route-id="@item.QuestionnaireID" style="color:white;">Details</a>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <br>
        <br><br>
    </div>


    <footer id="sticky-footer" class="py-4 bg-dark text-white-50 fixed-bottom">
        <div class="container text-center">
            <small>Copyright &copy; Teamber 2020</small>
        </div>
    </footer>
</body>

<!--
<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Questionnaire[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questionnaire[0].Cycle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Questionnaire) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cycle)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.QuestionnaireID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.QuestionnaireID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.QuestionnaireID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
-->
