@page
@model ContosoUniversity.IndexModel

@{
    ViewData["Title"] = "Index";
    //if (String.IsNullOrEmpty(Model.Login) || String.IsNullOrEmpty(Model.Manager))
      //          Response.Redirect("/Login/Login");
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Questionnaire[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questionnaire[0].Cycle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Questionnaire) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cycle)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.QuestionnaireID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.QuestionnaireID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.QuestionnaireID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
